.sel, .sel a {
    color:red
}

.firstname, .lastname {
    float: left;
    width: 200px;
}
.lastname {
    margin-left: 20px;
}
.clear {
    clear: both;
}
.guestbook-info {
    padding: 10px;
    font-family: Arial, Helvetica;
    color: #000;

}
.guestbook-info a {
    color: #000;
    text-decoration: none;
}
.guestbook-info:nth-child(odd){
    background:#eee;
}
.guestbook-info:nth-child(even){
    background:#ccc;
}
.delete form {
    float: right;
}
div[ng-app] { margin: 50px; }
.main-col{
    background: #ccc;
    padding: 20px;
}
.form-label {
    color: #000040;
}
.form-element textarea{
    width: 400px;
    height: 100px;
}